<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>ورود به حساب کاربری</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- ایمیل -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>نام کاربری</mat-label>
          <input matInput formControlName="username" type="username"  />
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            وارد کردن ایمیل الزامی است
          </mat-error>
          <!-- <mat-error *ngIf="loginForm.get('username')?.hasError('username')">
            فرمت ایمیل معتبر نیست
          </mat-error> -->
        </mat-form-field>

        <!-- پسورد -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>رمز عبور</mat-label>
          <input matInput formControlName="password" type="password" placeholder="******" />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            رمز عبور را وارد کنید
          </mat-error>
        </mat-form-field>

        <!-- دکمه -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid || loading"
          class="full-width"
        >
          {{ loading ? 'در حال ورود...' : 'ورود' }}
        </button>

        <!-- پیام خطا -->
        <p class="error-text" *ngIf="error">{{ error }}</p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
